# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

yarn.lock
pnpm-lock.yaml
package-lock.json
WiredTiger
WiredTiger.lock
WiredTiger.turtle
WiredTiger.wt
WiredTigerHS.wt
_mdb_catalog.wt
collection-0-764948867917031145.wt
collection-2-764948867917031145.wt
collection-4-764948867917031145.wt
collection-7-764948867917031145.wt
diagnostic.data/
index-1-764948867917031145.wt
index-3-764948867917031145.wt
index-5-764948867917031145.wt
index-6-764948867917031145.wt
index-8-764948867917031145.wt
journal/
mongod.lock
sizeStorer.wt
storage.bson